.header {
    padding: .5rem;
}

.navigation {
    position: absolute;
    top: 3rem;
    left: -375px;
    color: #FFFFFF;
    padding: 1rem;
    width: 375px;
    height: auto;
    z-index: 1000;
    transition: transform .5s;
}

.navigation.open {
    transform: translateX(100%);
}

.burger {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}

.burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.burger span:nth-child(1) {
    transform: translateY(-10px);
}

.burger span:nth-child(3) {
    transform: translateY(10px);
}

.burger.open span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-list-item {
    padding: 1rem;
    margin-bottom: .5rem;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.item-link {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .burger {
        margin: 0 auto;
    }
}