@import url('./styles/normalize.css');
@import url('./styles/typography.css');
@import url('./styles/mainView.css');
@import url('./styles/skillsView.css');
@import url('./styles/portfolioView.css');
@import url('./styles/navbar.css');

:root {
  --base-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'CodeNext-Regular', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  cursor: default;
}

.app-wrapper {
  height: 100vh;
  background-image: url("./assets/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}